<modal></modal>

<title-page pageText="Clientes"></title-page>

<card-table>
  <div *ngIf="users.length > 0; else noUsers">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Role</th>
          <th>Last Login</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role?.name }}</td>
          <td *ngIf="user.last_login_at; else noLogin">
            {{ user.last_login_at }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</card-table>

<ng-template #noLogin>
  <td>Nunca fez login</td>
</ng-template>

<ng-template #noUsers>
  <p>Nenhum usuário encontrado.</p>
</ng-template>

