<div class="sidebar">
  <a class="logo" href="dashboard/main ">
      <img src="assets/images/logos/LogoCoresPadel_Final.png" class="logo-img">
      <h3 class="site-name">Padel <span>Connect</span></h3>
  </a>
  <a class="links-sidebar" href="/dashboard/reservations">
      <div class="box-icon active">
          <span class="material-icons-sharp">book_online</span>
      </div>
      <p class="p-sidebar">Reservas</p>
  </a>
  <a class="links-sidebar">
      <div class="box-icon">
          <span class="material-icons-sharp">sports_tennis</span>
      </div>
      <p class="p-sidebar">Campos</p>
  </a>
  <a class="links-sidebar">
      <div class="box-icon">
          <span class="material-icons-sharp">sell</span>
      </div>
      <p class="p-sidebar">Promoções</p>
  </a>
  <a class="links-sidebar">
      <div class="box-icon">
          <span class="material-icons-sharp">signal_cellular_alt</span>
      </div>
      <p class="p-sidebar">Estatísticas</p>
  </a>
  <a class="links-sidebar">
      <div class="box-icon">
          <span class="material-icons-sharp">group</span>
      </div>
      <p class="p-sidebar">Clientes</p>
  </a>
  <a class="links-sidebar">
      <div class="box-icon">
          <span class="material-icons-sharp">settings</span>
      </div>
      <p class="p-sidebar">Definições</p>
  </a>
  <a class="links-sidebar">
      <div class="box-icon">
          <span class="material-icons-sharp">logout</span>
      </div>
      <p class="p-sidebar">Logout</p>
  </a>
</div>
