<modal></modal>

<title-page pageText="Campos"></title-page>

<card-table>
  <div *ngIf="courts.length > 0; else noCourts">
    {{ courts.length }}
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Empresa</th>
          <th>Preço / h</th>
          <th>Tipo de chão</th>
          <th>Iluminação</th>
          <th>Cobertura</th>
          <th>Estado</th>
          <th>Última manutenção</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let court of courts">

        </tr> -->
      </tbody>
    </table>
  </div>
</card-table>

<ng-template #noCourts>
  <p class="no-data">Não existe nenhum campo</p>
</ng-template>
